
<div class="cover">
    <!--<video id="video1" controls autoplay loop playsinline style="pointer-events: none; overflow: hidden; width:100%; height: auto; z-index: 1">
        <source src="../assets/covervid.mp4" type="video/mp4">
    </video>-->

    <h1 data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom"
        data-aos-duration="3000">
        <p>Datenschutz bei Messengern</p>
        <!--<img src="../assets/Key.PNG" style="width: 10%">-->
    </h1>

</div>

<div class="main-content">

    <div class="content" data-aos="fade-right" data-aos-duration="3000" style="width:54%;">
        <p>Datenschutz spielt eine immer wichtigere Rolle und sollte mehr Beachtung bekommen. Diese Website gibt nach Informationen der Verbraucherzentrale <a href="https://www.verbraucherzentrale.de/" style="color: #2d9da9">(link) </a>einen kurzen Überblick
        über die gängigen Massengerdiesnte und deren Umgang mit Daten. Untersucht werden die Massenger dabei unter de folgenden Aspekten:</p>
        <p>- Angaben bei Registrierung - Angaben bei Nutzung - Zugriff auf Handykontakte - Verschlüsselung - Einverständnis für Gruppenchat - Selbstlöschfunktion - Nachrichten nach Versenden händisch löschbar - Serverstandort - Geschäftsmodel - backup über App - Account löschen innerhalb der App</p>
    </div>

</div>

<div class="main-content">

    <div class="content_child">
        <p>
            Facebook ist der wohl am schlechtesten plazierte Massenger in Sachen Datenschutz. Klarnamen laut Nutzungsbedinugnen werden benötigt 
            sowie die Emailadresse. Ein status über das Tippen und die Lesenbestätigung lassen sich außerdem nicht deaktivieren. Vor allem aber die nicht voreingestellte 
            P2P Verschlüsselung, welche als selbstverstädnlich gelten sollte, wirft ein schlechtes Licht auf den Umgang mit der Daten der Benutzern. Serverstnadorte befinden
            sich Weltweit und die personalisierte Werbund lässt sich nicht deaktivieren. Ein sauberes Backup sowie die Funktion seinen Facebook Account zu löschen gibt es nicht.
            Schon des öfteren stand Facebook vor Gericht und wurde dafür angeklakt, Nutzerdaten nicht zu respektieren. 
        </p>
    </div>

    <div class="content" data-aos="fade-left" data-aos-duration="3000">
        <img src="assets/facebook.jpg">
    </div>

</div>

<div class="main-content">

    <div class="content" data-aos="fade-right" data-aos-duration="3000">
        <img src="assets/whatsapp.png">
    </div>

    <div class="content_child">
        <p>
            WhatsApp ist der wohl verbreiteste Massenger-Dienst. Doch auch dieser ist als Tocherfirma von Facebook bzw. Teil des jetzigen Metaunivserums krtisch zu hinterfragen.
            Die Nummer ist ein weiterzugeben aber auch akzeptabel wenn man bedenkt das WhatsApp als Massenger Dienst über das Handy hauptsächlich fungieren soll. Der Tipp-Status
            der einzige Status der neben Onlinemeldungen und Lesenbestötigungen nicht abzuschalten geht. Eine P2P-Verschlüsselung findet statt und Nachrichten sowie
            Einverständiserklärungen sind gegeben. Server werden weltweit gehostet. Ein App-Backup und die Löschfunktion des Accounts sind gegeben.
        </p>
    </div>

</div>

<div class="main-content">

    <div class="content_child">
        <p> Ginglo ist ein Dienst welcher Datenschutz als Priorität hat. Er sitzt in Deutschland und es bedarf keinerlei Informationen die direkt in Verbindung mit
            jemandens Idendität stehen. Er seitzt in Deutschland und unterliegt allen Privatrechtlichen deutschen Richtlinien. Funktionen zur Löschung des Accoutns und
            eines backups über die App ist möglich. Einverständnisse werden von Grund auf gefordert und Statusmeldungen sind alle Abstellbar. Lediglich das Löschen von Nachrichten 
            lässt Ginglo nur auf dem eigenen Gerät zu.
        </p>
    </div>

    <div class="content" data-aos="fade-left" data-aos-duration="3000">
        <img src="assets/ginglo.png">
    </div>

</div>

<div class="main-content">

    <div class="content" data-aos="fade-left" data-aos-duration="3000" style="width:54%;">
        <p>
            Ziel dieses online Messangers ist es unter einem Pseudonym anonym in Sessions zu chatten. Alle Chats werden nach einer beendeten Session gelöscht und Lediglich
            der Account wird verschlüsselt in einer Datenbank gespeichert. Der Account beeinhaltet Einen Namen und ein Passwort. 
        </p>
    
        <div class="main-content" data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="ease-in-sine"
            data-aos-duration="1000">
            <button routerLink="/register">Lets Go</button>
        </div>
            
    </div>
    

</div>

