
<div class="cover">
    <!--<video id="video1" controls autoplay loop playsinline style="pointer-events: none; overflow: hidden; width:100%; height: auto; z-index: 1">
        <source src="../assets/covervid.mp4" type="video/mp4">
    </video>-->

    <h1 data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom"
        data-aos-duration="3000">
        <p>Data Privacy</p>
        <img src="../assets/Key.PNG" style="width: 15%">
    </h1>

</div>

<div class="main-content">

    <div class="content" data-aos="fade-right" data-aos-duration="3000">
        <p>asdsad</p>
        <p>asdsad</p>
    </div>

    <div class="content_child">
        <p>asdsad</p>
        <p>asdsad</p>
    </div>

</div>

<div class="main-content">

    <div class="content_child">
        <p>asdsad</p>
        <p>asdsad</p>
    </div>

    <div class="content" data-aos="fade-left" data-aos-duration="3000">
        <p>asdsad</p>
        <p>asdsad</p>
    </div>

</div>

<div class="main-content">

    <div class="content" data-aos="fade-right" data-aos-duration="3000">
        <p>asdsad</p>
        <p>asdsad</p>
    </div>

    <div class="content_child">
        <p>asdsad</p>
        <p>asdsad</p>
    </div>

</div>

<div class="main-content">

    <div class="content_child">
        <p>asdsad</p>
        <p>asdsad</p>
    </div>

    <div class="content" data-aos="fade-left" data-aos-duration="3000">
        <p>asdsad</p>
        <p>asdsad</p>
    </div>

</div>