

<div class="container">

    <div class="container" style="flex-direction: row;">
  
        <div class="chat">

                <textarea readonly="readonly"></textarea>
                
                <form style="display: flex;">
                    <input type="text">
                    <button (click)="addOutputConsole()">send</button>
                </form>

        </div>

        <div class="console">

            <textarea>{{ output }}</textarea>

        </div>

    </div>


</div>