<div class="content" data-aos="zoom-out" style="z-index:2">
    <div class="content_register">
        <h1>Registrieren</h1>
        <form>
            <input type="text" value="Email: ">
            <input type="text" value="Name: ">
            <input type="text" value="Passwort:">
            <button routerLink="/page1">send</button>
        </form>
    </div>
    <div class="content_login" style="z-index:1">
        <h1>Login</h1>
        <form>
            <input type="text" value="Name: ">
            <input type="text" value="Passwort:">
            <button routerLink="/page1">send</button>
        </form>
    </div>
</div>