<div class="content" data-aos="zoom-out" style="z-index:2">
    <div class="content_register">
        <h1>Registrieren</h1>
        <form>
            <input type="text" value="Email (optional)" onclick="this.value=' '">
            <input type="text" value="Name: " onclick="this.value=' '">
            <input type="text" value="Passwort:" onclick="this.value=' '">
            <button routerLink="/page1">send</button>
        </form>
    </div>
    <div class="content_login" style="z-index:1">
        <h1>Login</h1>
        <form>
            <input type="text" value="Name: " onclick="this.value=' '">
            <input type="text" value="Passwort:" onclick="this.value=' '">
            <button routerLink="/page1" type="button">send</button>
        </form>
    </div>
</div>